.reroll {
    cursor: pointer;
    transition: .25s ease-in-out;
    position: absolute;
    bottom: -2rem;
    height: 4rem;
    width: 4rem;
    border: none;
    border-radius: 900px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-image: url('../images/icon-dice.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: get-size('600');
}
.reroll:hover {
    box-shadow: 0 0 40px 0 get-color('neon-green');
}
.reroll:active {
    transform: translateY(1.5px);
}